body{
    background-image: url(https://img.freepik.com/fotos-premium/huesos-perro-pata-perro-sobre-fondo-hierba-verde_493806-10084.jpg?w=2000);
}

img{
    position: absolute;
    left: 40%;
    bottom: 35%;
}

li{
    font-size: x-large;
    color: white;
}

a{
    font-size: 1rem;
    text-decoration: none;
    color: white;
}