body{
    background-image: url(https://mobimg.b-cdn.net/v3/fetch/8e/8ec4625fc3dd462e1c65b0f1f497ee72.jpeg);
}

a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

p{
    font-size: x-large;
}


