body{
    background-image: url(https://images.alphacoders.com/774/774255.jpg)
}

p, h1, h3{
    color: white;
}

a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

p{
    font-size: large;
}

